{% extends 'base.html' %}
{% load static %}
{% block Content %}
<div class="row mt-5" style="background:black;">
    <h1 class="text-center  pb-2" style="border-bottom:1px groove white; color:#f3ea98;">About Indian Cyber Security</h1>
    <div class="col-sm-2" style="background:black;"></div>
    <div class="col-sm-8  " style=" font-family:impact; background:black;">
        <h3 class="text-center text-light mt-5 mb-5">
            The largest Kashi News on the internet.<br><br>
            3 billion pages displayed each year.<br><br>
            10 million visitors each month.
        </h3>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row mt-5" style="background:black;">
    <h1 class="text-center" style="border-bottom:1px solid white; color:#f3ea98;">What is Kashi News?</h1>
    <div class="col-sm-2" style="background:black;"></div>
    <div class="col-sm-8" style="background:black;">
        <p class="text-center  text-light mt-3 mb-5" style="font-family:impact; font-size:22px; background:black;">
            We create simplified and interactive learning experiences.<br><br>

            Learning Kashi News should be easy to understand and learning for everyone, everywhere!<br><br>

            Kashi News is a knowledgemnet for all Students, covering all the aspects of Kashi News.
        </p>
    </div>
    <div class="col-sm-2" style="background:black;"></div>
</div>
<div class="row mt-5">
    <div class="col-sm-6" style="background:black;">
        <h2 class="text-center mt-2  pb-3" style=" border-bottom:1px solid white; color:#f3ea98;">Easy To Read And Learn</h2>
        <p class="text-center text-light" style="font-family:impact; font-size:22px; background:black;">
            Kashi News has focus on simplicity.<br><br>

             Kashi News practice easy Reading.<br><br>

            Kashi News uses simple languages and simple illustrations of how to read it.<br><br>

            Kashi News Have all IT News or Hacking News for your safity and security.....
        </p>
    </div>
    <div class="col-sm-6" style="background:black;">
            <h2 class="text-center mt-2  pb-3" style=" border-bottom:1px solid white; color:#f3ea98;">You Can Help</h2>
            <p class="text-center text-light" style="font-family:impact; font-size:22px; background:black;">
                Many people work very hard to ensure Kashi News remains useful, updated, and interesting.<br><br>

                If you find an error, or a broken link, please tell us about it.<br><br>

                Use the link "REPORT ERROR" at the bottom of each page.<br><br>

                Then we will fix that bugs/ and error...<br>

                Thanks You...
            </p>
    </div>
</div>
<div class="row mt-5" style="background:black;;">
    <h2 class="text-center mt-2  pb-3" style=" border-bottom:1px solid white; color:#f3ea98;">
            Add a Link to Us
    </h2>
    <p class="text-center" style="font-family:impact; font-size:22px; color:#f3ea98; background:black;">
        If you want others to discover Kashi News, please add a link to us.<br><br>

        To add a simple text link, insert the following HTML code on your site:<br><br>
    </p>
    <div class="col-sm-12 mt-3">
        <h2 class="text-center mt-2  pb-3" style=" border-bottom:1px solid white; color:#f3ea98; background:black;">
            Kashi News is Free
        </h2>
        <p class="text-center" style="font-family:impact; font-size:22px; color:#f3ea98; background:black;">
            Kashi News is, and will always be, a completely free developers resource.<br><br>

           Kashi News was created in 2019, and derives its name from the World Wide Web (WWW) but is not affiliated with the W3C.
        </p>
    </div>
</div>

{% endblock %}