{% extends 'base.html' %}
{% load static %}
{% block Content %}
<div class="container-fluid outer">
    <!--menu-->
    <div class="row b">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#" style="margin-left:60px;">Assi Ghat</a>
                        <a class="nav-item nav-link active" href="#">Chet Singh Ghat</a>
                        <a class="nav-item nav-link active" href="#">Darbhanga Ghat</a>
                        <a class="nav-item nav-link active" href="#">Dashashwamedh Ghat</a>
                        <a class="nav-item nav-link active" href="#">Man Mandir Ghat</a>
                        <a class="nav-item nav-link active" href="#">Manikarnika Ghat</a>
                        <a class="nav-item nav-link active" href="#">Scindia Ghat</a>
                        <a class="nav-item nav-link active" href="#">Bhonsale Ghat</a>
                        <a class="nav-item nav-link active" href="#">Panchganga Ghat</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row a text-center" style="background:black;">
        <div class="col-sm-12" style="color:#f6ed9b; border-bottom:2px solid white;">बनारस के घाट</div>
    </div>
    <!---->
    <div class=" container-fluid h2" style="color:#f6ed9b; margin-left:50px; padding-top:20px;">Assi Ghat</div>
    <div class="row c">
        <div class="col-sm-6">
            <img src="{% static 'images/assighat.jpg' %}" class="img-responsive"
                 style="height:300px; width:400px; margin-left:50px;"/>
        </div>
        <div class="col-sm-6" style="color:white; text-align:justify;"><b>Assi Ghat : </b> वाराणसी का दक्षिणी घाट है। यह एक है
            वाराणसी के सबसे बड़े घाट और सबसे लोकप्रिय। वाराणसी के लिए सबसे अधिक आगंतुकों के लिए, यह एक जगह है जहां
            दीर्घकालिक विदेशी छात्रों, शोधकर्ताओं, होने के लिए जाना जाता है,
            और पर्यटक रहते हैं । गंगा और एएसआई नदियों के संगम पर स्थित अस्सी घाट वाराणसी का दक्षिणी घाट है, जहां
            तीर्थयात्री एक पीपल के पेड़ के नीचे स्थित विशाल शिवलिंग के रूप में भगवान शिव को श्रद्धांजलि देने से पहले
            स्नान करते हैं । अस्सी घाट भी पारंपरिक शहर के दक्षिणी छोर का गठन करता है।
            अस्सी घाट अक्सर मनोरंजन के लिए और त्योहारों के दौरान के बारे में विशिष्ट दिनों पर दौरा किया घाटों में से एक
            है | यह अस्सी घाट पर था जहां प्रसिद्ध भारतीय कवि संत तुलसी दास ने बहुचर्चित रामचरितमानस लिखा था।
            ३०० लोगों को सुबह में हर घंटे यात्रा, और त्योहार के दिनों में २५०० लोगों को प्रति घंटे पहुंचें
            आम दिनों में घाट पर आने वाले ज्यादातर लोग पास के बनारस हिंदू विश्वविद्यालय के छात्र हैं।जिस स्थान पर तलवार
            गिरी थी, वहां एक बड़ी धारा का परिणाम था, जिसे अस्सी नदी के नाम से जाना जाता है। अस्सी घाट गंगा नदी और अस्सी
            नदी के संगम पर स्थित है।
        </div>
    </div>
    <!---->
    <div class="h2" style="color:#f6ed9b; margin-left:50px; padding-top:40px;">Chet Singh Ghat</div>
    <div class="row c">
        <div class="col-sm-6">
            <img src="{% static 'images/chetghat.jpg' %}" class="img-responsive"
                 style="height:300px; width:400px; margin-left:50px"/>
        </div>
        <div class="col-sm-6" style="color:white; text-align:justify;"><b>Chet Singh Ghat :</b>ऐतिहासिक महत्व का काफी कुछ है ।
            ऐतिहासिक महत्व का काफी कुछ है ।
            ऐतिहासिक महत्व का काफी कुछ है ।
            यह महाराजा चेत सिंह (जिन्होंने वाराणसी पर शासन किया था) और
            यह महाराजा चेत सिंह (जिन्होंने वाराणसी पर शासन किया था) और
            ब्रिटिश।इस घाट ने १७८१ विज्ञापन में ब्रिटिश सैनिकों और राजा चेत सिंह की सेना के बीच लड़ी गई भारतीय इतिहास की
            कट्टर लड़ाइयों में से एक को देखा था । चेत सिंह की हार के बाद इस इलाके पर अंग्रेजों की सेनाओं ने कब्जा कर
            लिया था। यह प्रभु नारायण सिंह ही थे जिन्होंने घाट को वापस लाया । स्वाभाविक है कि गढ़े घाट चेत सिंह घाट में
            भारत के स्वतंत्रता संग्राम की छाप और यादें हैं। चेत सिंह घाट को खिरकी घाट के नाम से भी जाना जाता है।
            चेत सिंह ने घाट पर एक छोटे से किले का निर्माण कराया था लेकिन दुर्भाग्य से अंग्रेजों ने उसे हरा दिया।
            यह कहा जाता है कि वह पगड़ी से बना एक रस्सी का उपयोग कर भागने में कामयाब!.दुनिया का सबसे पुराना रहने वाला शहर
            वाराणसी पूरी तरह से आधुनिक विकास और प्राचीन सांस्कृतिक विरासत के साथ सिंक में है । काशी के कई घाटों में, चेत
            सिंह घाट का अपार ऐतिहासिक महत्व है। चेत सिंह बनारस के पहले महाराज बलवंत सिंह का नाजायज बेटा था। उनका जन्म
            ग्वालियर में हुआ था लेकिन वे वाराणसी (बनारस/काशी) के शासक बन गए।
        </div>
        <!---->
        <!---->
        <div class="h2" style="color:#f6ed9b; margin-left:50px; padding-top:40px;">Darbhanga Ghat</div>
        <div class="row c">
            <div class="col-sm-6">
                <img src="{% static 'images/Darbhanga Ghat.jpg' %}" class="img-responsive"
                     style="height:300px; width:400px; margin-left:50px"/>
            </div>
            <div class="col-sm-6" style="color:white; text-align:justify;"><b>Darbhanga Ghat : </b> एक फोटोजेनिक पसंदीदा है! यह नेत्रहीन
                आकर्षक और वास्तुशिल्प रूप से प्रभावशाली घाट लक्जरी बृजरामा पैलेस होटल की सुविधा है।
                होटल मूल रूप से श्रीधारा नारायण मुंशी द्वारा बनाया गया एक किला था (बगल का मुंशी घाट के नाम पर है
                उसे), जो नागपुर की संपदा मंत्री थे। दरभंगा के राजा रामेश्वर सिंह बहादुर (आज के दौर में बिहार) में संरचना का अधिग्रहण
                1915 और इसे अपने महल में बदल दिया। इसके वर्तमान मालिक, भारतीय आतिथ्य कंपनी १५८९ होटल, खर्च
                लगभग 18 साल इसे बहाल करने और होटल में परिवर्तित ।दरभंगा घाट का महल चुनार से बलुआ पत्थर से बना है, जिसमें
                सुंदर पोर्च और यूनानी खंभे हैं। पुराणिक संदर्भ में इस क्षेत्र का महत्व रहा है, लेकिन इसकी भव्यता और
                स्थापत्य शैली के लिए भी महत्व प्राप्त किया है।1994 में दरभंगा पैलेस को क्लार्क्स होटल ग्रुप ने खरीदा था,
                जिसने इसे बृजराम पैलेस नाम दिया था और इसे फाइव स्टार होटल में बदलने की योजना बनाई थी। हालांकि आवश्यक
                ढांचागत सुविधाओं के विकास से पूरे पर्यावरण को प्रदूषण, सामाजिक-मनोवैज्ञानिक अवसाद और कठिन आम जीवन की
                समस्या का सामना करना पड़ सकता है।

            </div>
            <!---->
            <!---->
            <div class="h2" style="color:#f6ed9b; margin-left:50px; padding-top:40px;">Dasaswamedh Ghat</div>
            <div class="row c">
                <div class="col-sm-6">
                    <img src="{% static 'images/Dasaswamedh.jpg' %}" class="img-responsive"
                         style="height:300px; width:400px; margin-left:50px"/>
                </div>
                <div class="col-sm-6" style="color:white; text-align:justify;"><b>Dashashwamedh Ghat : </b> कार्रवाई का दिल है और
                    वाराणसी में शीर्ष आकर्षण। सबसे पुराने और सबसे पवित्र वाराणसी घाटों में से एक,
                    यहीं पर हर शाम प्रसिद्ध गंगा आरती होती है। हिंदू पौराणिक कथाओं के अनुसार, भगवान
                    ब्रह्मा ने भगवान शिव के स्वागत के लिए घाट बनाया था। घाट के बारे में दो पौराणिक कथाएं हैं भगवान
                    ब्रह्मा का स्वागत करने के लिए दशाश्वमेध घाट बनाया गया था और दूसरा है भगवान ब्रह्मा ने यहां एक यज्ञ
                    में दस घोड़ों की बलि दी थी।दशाश्वमेध घाट को बाजीराव पेसव आई ने वर्ष 1740 ई में खंगाला था। बाद में
                    इसे वर्ष 1774 में इंदौर की रानी (राजकुमारी अहिल्याबाई होल्कर) ने खंगाला।
                    माना जाता है कि भगवान ब्रह्मा ने भी एक के सामने एक विशेष अश्व बलिदान अनुष्ठान किया है
                    पवित्र अग्नि। गोिंग्स के कार्निवल पर मनोरम है,
                    तीर्थयात्रियों, हिंदू पुजारियों, फूल विक्रेताओं और भिखारियों के निरंतर प्रवाह के साथ सुबह तिल शाम से
                    । यह है घंटों तक बैठना और देखना संभव है, और ऊब नहीं जाता है।महापर्व पर हिंदू श्रद्धालु भारी संख्या
                    में आते हैं क्योंकि घाट का अलग-अलग धार्मिक महत्व होता है। इस घाट ने विभिन्न हिंदू भगवान मंदिरों और
                    धार्मिक स्थलों के साथ अपनी सुंदरता को बरकरार रखा है। तीर्थयात्री यहां कई तरह के अनुष्ठान और धार्मिक
                    गतिविधियों को अंजाम देने आते हैं।
                </div>
                <!---->
                <!---->
                <div class="h2" style="color:#f6ed9b; margin-left:50px; padding-top:40px;">Man Mandir Ghat</div>
                <div class="row c">
                    <div class="col-sm-6">
                        <img src="{% static 'images/71.webp' %}" class="img-responsive"
                             style="height:300px; width:400px; margin-left:50px"/>
                    </div>
                    <div class="col-sm-6" style="color:white; text-align:justify;"><b>Man Mandir Ghat : </b>माना जाता है कि भगवान ब्रह्मा ने
                        भी एक के सामने एक विशेष अश्व बलिदान अनुष्ठान किया है
                        पवित्र अग्नि। गोिंग्स के कार्निवल पर मनोरम है,
                        तीर्थयात्रियों, हिंदू पुजारियों, फूल विक्रेताओं और भिखारियों के निरंतर प्रवाह के साथ सुबह तिल
                        शाम से । यह है
                        घंटों तक बैठना और देखना संभव है, और ऊब नहीं जाता है। ...
                        खगोलीय उपकरणों अभी भी अच्छी हालत में है और यह एक नज़र रखना संभव है
                        उन्हें। गंगा नदी के पार शानदार दृश्यों के लिए विशाल छत तक सिर। महल की छत पर जंतर-मंतर नामक एक
                        वेधशाला है जिसे महाराजा सवाई जय सिंह द्वितीय ने 1710 एडी में बनवाया था। यदि आप अपने पत्थर की
                        बालकनी के साथ बालकनी के उत्तरी भाग में सिर, आप परिवेश के कुछ शानदार विचारों के लिए इलाज किया
                        जाएगा ।मान मंदिर घाट रामेश्वर मंदिर, स्थुलादंता विनायक मंदिर और सोमेश्वर मंदिर सहित कई हिंदू
                        मंदिरों के साथ भी बिंदीदार है। घाट शाम और सुबह के समय एक अलग ही सुंदरता प्राप्त करता है।
                        आगंतुकों को आराम करते हुए देखा जा सकता है और घाट द्वारा पेश किए गए दृश्यों का आनंद ले रहे हैं ।
                    </div>
                    <!---->
                    <div class="h2" style="color:#f6ed9b; margin-left:50px; padding-top:40px;">Manikarnika Ghat</div>
                    <div class="row c">
                        <div class="col-sm-6">
                            <img src="{% static 'images/Manikarnika Ghat.jpg' %}" class="img-responsive"
                                 style="height:300px; width:400px; margin-left:50px"/>
                        </div>
                        <div class="col-sm-6" style="color:white; text-align:justify;">सबसे भिड़ने वाला घाट, मणिकर्णिका (यह भी जाना जाता है
                            बस के रूप में जलते घाट) जगह है जहां शवों के बहुमत में दाह संस्कार कर रहे है
                            वाराणसी
                            लगभग 28,000 हर साल! हिंदुओं का मानना है कि इससे उन्हें चक्र से मुक्ति मिलेगी
                            मृत्यु और पुनर्जन्म। दरअसल, आप खुलेआम मणिकर्णिका घाट पर मौत के साथ आमने-सामने आ जाएंगे ।
                            लकड़ी लाइन के ढेर किनारे और आग लगातार मृत की धारा के साथ जला
                            शरीर, प्रत्येक कपड़े में लिपटे और द्वारा अस्थाई स्ट्रेचर पर गलियों के माध्यम से किया
                            डोम्स (अछूतों की एक जाति जो लाशों को संभालती है और जलते घाट की निगरानी करती है)।
                            यदि आप उत्सुक है और बोल्ड महसूस कर रहे हैं,
                            शुल्क। चारों ओर बहुत सारे पुजारी या गाइड हैं जो आपको ऊपरी में से एक में ले जाएंगे
                            पास की एक इमारत के फर्श। यह सिंधिया घाट और दशाश्वमेध घाट दोनों तरफ बंधा हुआ है। वाराणसी के
                            अन्य सभी घाटों की तरह मणिकर्णिका घाट एक दिलचस्प पौराणिक कहानी से घिरा हुआ है जो हमें यह भी
                            बताता है कि कैसे उसने अपना नाम हासिल किया । मान्यता है कि जब देवी आदि शक्ति या देवी सती ने
                            अग्नि में छलांग लगाकर आत्मदाह किया था, तब भगवान शिव उनके जलते हुए शरीर को हिमालय ले गए थे।
                        </div>
                        <!---->
                        <!---->
                        <div class="h2" style="color:#f6ed9b; margin-left:50px; padding-top:40px;">Scindia Ghat</div>
                        <div class="row c">
                            <div class="col-sm-6">
                                <img src="{% static 'images/Scindia Ghat.jpg' %}" class="img-responsive"
                                     style="height:300px; width:400px; margin-left:50px"/>
                            </div>
                            <div class="col-sm-6" style="color:white; text-align:justify;"><b>Scindia Ghat : </b> काफी सुरम्य और शांतिपूर्ण
                                जगह
                                है, जिसमें पास के मणिकर्णिका घाट (जलते घाट) की कोई भी भयावहता नहीं है। विशेष रुचि के
                                पानी के किनारे पर आंशिक रूप से जलमग्न शिव मंदिर है । 1830 में घाट के निर्माण के दौरान यह
                                डूब गया। घाट के ऊपर गलियों की संकरी भूलभुलैया वाराणसी के कई महत्वपूर्ण मंदिरों को छिपाती
                                है। इस क्षेत्र को सिद्ध क्षेत्र कहा जाता है और यह तीर्थयात्रियों को खूब आकर्षित करता
                                है।सिंधिया घाट का नाम महान व्यक्ति सिंधिया (जिन्होंने घाट बनाया था) के नाम पर रखा गया
                                है। यह भी माना जाता है कि इसे बैजा बाई ने बनवाया था। सिंधिया घाट अपने शांतिपूर्ण और
                                स्वच्छता वातावरण के कारण गंगे नदी (उत्तर से मणिकर्णिका घाट) के तट पर सुबह ध्यान के लिए
                                अच्छी तरह से जाना जाता है । इसकी मापी इसलिए की जाती है क्योंकि घाट का निर्माण करीब 150
                                साल पुराना है।यह घाट एक पुराना शिव मंदिर होने के लिए प्रसिद्ध है जो आंशिक रूप से किनारे
                                पर गंगे के पानी में डूबा हुआ है। यह यहां शवों के दाह संस्कार के लिए भी प्रसिद्ध है।
                                श्रद्धालु ध्यान करने के लिए सुबह जल्दी यहां आते हैं और अविस्मरणीय अनुभव होता है
                            </div>
                            <!---->
                            <!---->
                            <div class="h2" style="color:#f6ed9b; margin-left:50px; padding-top:40px;">Bhonsale Ghat
                            </div>
                            <div class="row c">
                                <div class="col-sm-6">
                                    <img src="{% static 'images/Bhonsale Ghat.jpg' %}" class="img-responsive"
                                         style="height:300px; width:400px; margin-left:50px"/>
                                </div>
                                <div class="col-sm-6" style="color:white; text-align:justify;">
                                    विशिष्ट दिखने वाले भोंसाले घाट का निर्माण 1780 में नागपुर के मराठा राजा भोंसले ने
                                    करवाया था। यह शीर्ष पर छोटी कलात्मक खिड़कियों के साथ एक पर्याप्त पत्थर की इमारत है,
                                    और तीन विरासत मंदिर- लक्ष्मीनारायण मंदिर, यमकेश्वर मंदिर और यमदित्य मंदिर। काफी विवाद इस घाट के चारों ओर है, शाही परिवार के साथ २०१३ में घाट की बिक्री पर एक
                                    धोखाधड़ी के मामले में उलझे हुए हैं ।नागपुर के भोंसले ने इस घाट को बनाया और
                                    परिणामस्वरूप उनके नाम पर। भोंसले घाट के पास दो महत्वपूर्ण धार्मिक स्थल यमकेश्वर
                                    मंदिर और यामादित्य मंदिर हैं। यह घाट वाराणसी की जीवन रेखा में मराठा शासकों के योगदान
                                    का एक और उदाहरण है। वाराणसी में गंगा नदी पर महत्वपूर्ण घाटों में से एक, नागपुर के
                                    मराठा शासक परिवार के माध्यम से बनाया गया था। चूंकि नागपुर के मराठा शासक भोंसले
                                    परिवार से ताल्लुक रखते थे, इसलिए यहां इस घाट को भोंसाला घाट कहा जाने लगा।भोसले घाट
                                    का निर्माण नागपुर के रिश्तेदारों के मराठा शासक सर्कल के माध्यम से हो गया है, जो
                                    भोसले परिवार से ताल्लुक रखते थे । यह शीर्ष पर छोटे रचनात्मक घर खिड़कियों के साथ एक
                                    बड़ा पत्थर का निर्माण है।
                                </div>
                                <!---->
                                <!---->
                                <div class="h2" style="color:#f6ed9b; margin-left:50px; padding-top:40px;">Panchganga
                                    Ghat
                                </div>
                                <div class="row c">
                                    <div class="col-sm-6">
                                        <img src="{% static 'images/Panchganga Ghat.jpg' %}" class="img-responsive"
                                             style="height:300px; width:400px; margin-left:50px"/>
                                    </div>
                                    <div class="col-sm-6" style="color:white; text-align:justify;">घाटों के सुदूर उत्तरी छोर पर पंचगंगा घाट
                                        का नाम पांच नदियों (गंगा, यमुना, सरस्वती, किराना और धुप्पा) के विलय से मिलता है।
                                        यह एक अपेक्षाकृत शांत घाट है कि कुछ तक पहुंचने के प्रयास की आवश्यकता है और
                                        महत्वपूर्ण धार्मिक महत्व है । समाधि मंदिर महान हिंदू की स्मृति में
                                        योगी पगला स्वामी वहां स्थित हैं। घाट के ऊपर भी है 17वीं शताब्दी
                                        आलमगीर मस्जिद,
                                        जिसे मुगल शासक औरंगजेब ने एक विष्णु मंदिर के ऊपर बनवाया था। मस्जिद है
                                        कार्यात्मक लेकिन केवल मुसलमानों के अंदर की अनुमति है । यदि आप के दौरान घाट पर
                                        जाएं
                                        कार्तिक का पवित्र हिंदू महीना (दिवाली से लगभग 15 दिन पहले और बाद में),
                                        आप इसे खूबसूरती से मोमबत्ती से भरे टोकरी से प्रबुद्ध देखने में सक्षम हो जाएगा
                                        पूर्वजों का सम्मान करने के लिए डंडे से लटका। टी वाराणसी में सबसे साफ घाटों में
                                        से एक है और लोकप्रिय वाराणसी पर्यटन स्थलों में से एक है। पंचगंगा घाट इसलिए कहा
                                        जाता है क्योंकि यह पांच पवित्र नदियों-गंगा, सरस्वती, धुप्पापा, यमुना और किराना
                                        के संगम पर बनाया गया है । इन पांच में से केवल गंगा ही दिखाई देती रहती हैं जबकि
                                        अन्य चार को पृथ्वी में गायब माना जाता है ।
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}