{% extends 'base.html' %}
{% load static %}
{% block Content %}
<div class="py-5" style="background-color:black;" id="venue">
    <div class="container">
        <div class="row  animate-in-down" style="background:black;">
            <div class="p-0 col-md-6">
                <div class="carousel slide" data-ride="carousel" id="carousel1">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"><img class="d-block img-fluid w-100"
                                                               src="{% static 'images/histroy1.jfif' %}"
                                                               data-holder-rendered="true">
                            <div class="carousel-caption">
                                <h3>
                                    <mark style="border-radius:5px;">Varanasi , Old Kashi</mark>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"> <span
                            class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                            class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carousel1"
                                                                    role="button" data-slide="next"> <span
                        class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
                </a>
                </div>
            </div>
            <div class="p-4 col-md-6 align-self-center ">
                <h4 class="m-0 text-color"style="text-decoration:underline;">इतिहास और परंपराओं से भी ज्यादा पुराना है वाराणसी शहर! जानें कैसे और कब बनारस
                    से बना
                    वाराणसी</h4>
                <p class="my-4 text-light" style="text-align:justify;">वाराणसी (Varanasi), उत्तर प्रदेश (Uttar Pradesh) का वो शहर जो धार्मिक और
                    सांस्कृतिक
                    विरासत के लिए दुनियाभर में मशहूर है. सिर्फ देश ही नहीं बल्कि दुनियाभर के लाखों सैलानी यहां हर साल
                    घूमने आते हैं. वाराणसी आने के बाद यहां की संस्कृति में घुल-मिल जाने के बाद कई विदेशी तो इस पावन नगरी
                    को ही अपना घर भी बना लेते हैं. वाराणसी को बनारस और काशी के नाम से भी जाना जाता है. वाराणसी, दुनिया
                    के सबसे पुराने शहरों में से एक है. यह हिंदू धर्म के लोगों के साथ-साथ बौद्ध और जैन धर्म के लोगों के
                    लिए काफी पवित्र माना जाता है. वाराणसी का नाम पहले काशी हुआ करता था, जो बाद में बनारस बन गया. जिसके
                    बाद इस पवित्र शहर का नाम साल 1956 में बनारस से वाराणसी हो गया. हालांकि, आज भी बड़ी संख्या में लोग
                    इसे काशी और बनारस के नाम से ही बुलाते हैं.यह विश्व के लिए जन्मस्थान है- पंडित रविशंकर और उस्ताद बिस्मिल्लाह खान जैसे प्रसिद्ध कलाकार और संगीतकार।
                </p>
            </div>
        </div>
    </div>
</div>
<div class="py-5" style="background-color:black;" id="venue">
    <div class="container">
        <div class="row animate-in-down" style="background:black;">
            <div class="p-4 col-md-6 align-self-center">
                <h2 class="mb-2 text-color" style="text-decoration:underline;">Kashivishwanath Temple</h2>
                <p class="my-4 text-light" style="font-size:15px; text-align:justify;"><b>Kashi Vishwanath Temple :</b> 12 ज्योतिलिंगा के इस
                    मंदिर में से एक आवास को
                    महारानी अहिल्याबाई होल्कर ने
                    1777 में अपना वर्तमान रूप दिया था। मंदिर के शिकार को 1839 में पूजजली के महाराजा रणजीत सिंह द्वारा
                    दान किए गए 820 किलोग्राम सोने के साथ चढ़ाया जाता है। यही कारण है कि इस मंदिर को स्वर्ण मंदिर के नाम
                    से भी जाना जाता है, यह शहर के इष्टदेव भगवान शिव को समर्पित है।<br>
                    <b>History of Vishwanath Temple :</b> प्रसिद्ध विश्वनाथ मंदिर का पुनर्निर्माण कई बार किया जा चुका
                    है। मूल 1490 में बनाया गया था माना जाता
                    था। हालांकि काशी विश्वनाथ का मूल ज्योतिर्लिंग उपलब्ध नहीं है। मुगल आक्रमण के परिणामस्वरूप पुराने
                    मंदिर को नष्ट कर दिया गया और इसके स्थान पर औरंगजेब ने एक मस्जिद का निर्माण किया।<br>
                    <b>Meaning of KashiVishwanath Temple :</b> माना जाता है कि यहां आने वाले और मरने वालों को आजादी
                    मिलती है। कहा जाता है कि भगवान शिव यहां मरने
                    वाले लोगों को तारक मंत्र देते हैं। कुछ लोग यह भी मानते हैं कि प्रभु यहां रहते हैं और स्वतंत्रता और
                    सुख के दाता हैं। जो लोग भक्ति भाव से विश्वनाथजी की प्रार्थना और पूजा करता है, वह अपनी सभी मनोकामनाएं
                    प्राप्त करता है और जो लगातार अपना नाम पाठ करता है, उसे सभी सिद्धि प्राप्त होती है और अंत में
                    प्रबुद्ध हो जाता है।
                </p>
            </div>
            <div class="p-0 col-md-6">
                <div class="carousel slide" data-ride="carousel" id="carousel1">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"><img class="d-block img-fluid w-100"
                                                               src="{% static 'images/kashi.jpeg' %}"
                                                               data-holder-rendered="true">
                            <div class="carousel-caption">
                                <h3>
                                    <mark style="border-radius:5px;">Kashi Viswanath Temple</mark>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"> <span
                            class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                            class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carousel1"
                                                                    role="button" data-slide="next"> <span
                        class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5" style="background-color:black;" id="venue">
    <div class="container">
        <div class="row  animate-in-down" style="background:black;">
            <div class="p-0 col-md-6">
                <div class="carousel slide" data-ride="carousel" id="carousel1">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"><img class="d-block img-fluid w-100"
                                                               src="{% static 'images/temple kaal.jpg' %}"
                                                               data-holder-rendered="true">
                            <div class="carousel-caption">
                                <h3>
                                    <mark style="border-radius:5px;">Kaal Bhairav Temple</mark>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"> <span
                            class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                            class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carousel1"
                                                                    role="button" data-slide="next"> <span
                        class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
                </a>
                </div>
            </div>
            <div class="p-4 col-md-6 align-self-center text-color">
                <h2 style="text-decoration:underline;">Kal Bhairav Temple</h2>
                <p class="my-4 text-light" style="font-size:15px; text-align:justify;">काल भैरव मंदिर भगवान शिव के प्राचीन मंदिरों में से एक
                    है जो वाराणसी में पाया
                    जा सकता है।
                    इस मंदिर का शहर के इतिहास और संस्कृति से मजबूत जुड़ाव है। काल भैरव मंदिर भगवान शिव का सबसे कट्टर रूप
                    है। देवता मानव खोपड़ी के साथ बनाई गई माला पहने एक आदमी के रूप में चित्रित किया है| कहा जाता है कि
                    मृत्यु स्वयं भगवान शिव के इस रूप से भयभीत है। कहा जाता है कि काल भैरव तय करते हैं कि किसे वाराणसी
                    में रहना है और किसे नहीं। वाराणसी के लोगों को किसी भी कारण से शहर छोड़ने से पहले देवता से अनुमति मिल
                    जाती है। वाराणसी आने वाले किसी भी व्यक्ति को पहले मंदिर में जाना चाहिए और लोककथाओं के अनुसार वाराणसी
                    में प्रवेश करने की अनुमति मिलनी चाहिए ।<br>
                    <b>History of Kaal Bhairav Temple :</b> भैरव नाथ या भगवान शिव के बालक रूप को बटुक भैरव के रूप में
                    पूजा जाता है। ऐसा कहा जाता है कि भगवान शिव के तीसरे नेत्र से भगवान का जन्म हुआ था । मंदिर कई
                    शताब्दियों के लिए वाराणसी के इतिहास के साथ खुजली किया गया है और वहां कोई विवरण नहीं है जब वास्तव में
                    मंदिर का निर्माण किया गया था । मंदिर से जुड़े कई चमत्कार हैं जिन्हें लोककथाओं के रूप में सुना जा
                    सकता है।
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background:black;">
    <div class="container" style="background:black;">
        <h2 class="text-center" style="color:#f6ed9b; border-bottom:2px solid white;">वाराणसी के तथ्य</h2>
        <div class="row mt-3">
            <ol class="text-light" style="text-align:justify;">
                <li>
                    वाराणसी या बनारस दुनिया का सबसे पुराना रहने वाला शहर है, यह 3000 से अधिक वर्षों से सभ्यता का मुख्य
                    केंद्र
                    है।
                </li>
                <br>
                <li>
                    ऐसा माना जाता है कि जो व्यक्ति पुराने वाराणसी में अपनी अंतिम सांस लेगा, उसे निश्चित रूप से मोक्ष की
                    प्राप्ति
                    होगी। "महाशमशाना" या "महान श्मशान भूमि" के रूप में माना जाता है;<br> मणिकर्णिका घाट पर दाह संस्कार
                    के लिए
                    दूर-दराज से शवों को यहां लाया जाता है ।
                </li>
                <br>
                <li>
                    यह बीस-तृतीय तीर्थंकर, पार्श्वनाथ का जन्म स्थान है।
                </li>
                <br>
                <li>
                    यह दुनिया का एकमात्र स्थान है जिसमें 84 घाट हैं, जिससे यह शहर दुनिया में सबसे अधिक नदी तटों के साथ
                    है।
                </li>
                <br>
                <li>
                    यह वह जगह है जहां मेंढक की शादी काफी धूमधाम से की जाती है और शो किया जाता है। हिंदू पुजारी द्वारा
                    विधिवत किए गए बारिश के मौसम में इस दिलचस्प मेंढक विवाह को देखने के लिए हर साल सैकड़ों अश्वमेघ घाट पर
                    इकट्ठा होते हैं ।
                </li><br>
                <li>
                    यह विश्व के लिए जन्मस्थान है- पंडित रविशंकर और उस्ताद बिस्मिल्लाह खान जैसे प्रसिद्ध कलाकार और संगीतकार।
                </li><br>
                <li>
                    हर साल हजारों पर्यटक आते हैं जैसे पर्यटक और उनमें से सैकड़ों इस जगह को अपना घर बनाते हैं - इस तरह की इस पवित्र जगह की समृद्धि है!
                </li><br>
                <li>
                    बनारसी रेशम का सबसे बड़ा विक्रेता, साड़ी का एक टुकड़ा पूरा करने में 6 महीने तक का समय लग सकता है। सबसे प्रसिद्ध लोग कटान, ऑर्गेज़ा, जॉर्जेट और शत्रुर हैं।
                </li><br>
                <li>
                    यह स्थान तुलसी घाट पर आयोजित अपने पांच दिवसीय संगीतमय द्रुपद महोत्सव और नवंबर में आयोजित गंगा महोत्सव और नाग नथिया महोत्सव के लिए प्रसिद्ध है ।
                </li><br>
                <h1 style="border-bottom:3px solid white;"></h1>
            </ol>
        </div>
    </div>
</div>
{% endblock %}